.publicidad {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .publicidad .estilo {
    display: inline-block;
    border-style: solid;
    border-color: black;
    margin: 20px; }
    .publicidad .estilohover {
      transform: translate(30px, 20px); }
    .publicidad .estilo .imagenes {
      box-sizing: border-box;
      padding: 40px;
      object-fit: cover;
      width: 100%;
      height: 450px; }
    .publicidad .estilo .letras {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 30px;
      font-family: "Bebas Neue", "Konkhmer Sleokchher", sans-serif;
      font-size: 1.7em; }

@media only screen and (max-width: 1000px) {
  .publicidad {
    width: 90%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .estilo {
    display: inline-block;
    border-style: solid;
    border-color: black;
    margin: 20px; }
    .estilohover {
      transform: translate(20px, 10px); } }

@media screen and (max-width: 600px) {
  .publicidad {
    width: 90%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .estilo {
    display: inline-block;
    border-style: solid;
    border-color: black;
    margin: 20px; } }

.formulario {
  width: 1000px;
  height: 800px;
  border: solid;
  border-color: black;
  margin-left: 30%;
  margin-top: 75px;
  margin-bottom: 76px;
  padding: 30px; }
  .formulario label {
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', 'Konkhmer Sleokchher',sans-serif;
    font-size: 1.7em; }
  .formulario .mail {
    margin-left: 150px; }

.mensaje .tituloMensaje {
  display: block; }

.mensaje .descripcionMensaje {
  width: 900px;
  height: 400px; }

.boton {
  width: 60px;
  height: 30px;
  margin-top: 20px; }

@media only screen and (max-width: 1000px) {
  .formulario {
    width: 800px;
    height: 800px;
    border: solid;
    border-color: black;
    margin-left: 60px;
    margin-top: 75px;
    margin-bottom: 76px;
    padding: 20px; }
    .formulario label {
      padding-top: 80px;
      padding-bottom: 5px;
      font-family: 'Bebas Neue', 'Konkhmer Sleokchher',sans-serif;
      font-size: 1.7em; }
    .formulario .mail {
      margin-left: 75px; }
  .mensaje .tituloMensaje {
    display: block; }
  .mensaje .descripcionMensaje {
    width: 700px;
    height: 200px; }
  .boton {
    width: 40px;
    height: 20px;
    margin-top: 15px; } }

@media screen and (max-width: 600px) {
  .formulario {
    width: 600px;
    height: 450px;
    border: solid;
    border-color: black;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px; }
    .formulario label {
      padding-top: 60px;
      padding-bottom: 3px;
      font-family: 'Bebas Neue', 'Konkhmer Sleokchher',sans-serif;
      font-size: 1.7em; }
    .formulario .mail {
      margin-left: 50px; }
  .mensaje .tituloMensaje {
    display: block; }
  .mensaje .descripcionMensaje {
    width: 500px;
    height: 150px; }
  .boton {
    width: 20px;
    height: 10px;
    margin-top: 10px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: lemonchiffon; }

header {
  display: flex;
  align-items: center;
  background-color: #141014;
  justify-content: space-between; }
  header .logo {
    display: inline-block;
    width: 200px;
    height: 90px; }
  header .navegador {
    text-align: center;
    background-color: #141014; }
    header .navegador li {
      display: inline-block;
      font-size: 1.5em;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: "Bebas Neue", "Konkhmer Sleokchher", sans-serif; }
      header .navegador li a {
        color: #fff;
        text-decoration: none; }

.foto {
  width: 100%;
  height: 700px;
  object-fit: cover; }

.nikeTravis {
  text-align: center;
  font-size: 3.5em;
  padding-bottom: 20px;
  padding-top: 40px;
  font-family: "Bebas Neue", "Konkhmer Sleokchher", sans-serif; }

.container .row .parte1 .divisiontexto {
  height: 600px; }
  .container .row .parte1 .divisiontexto .parrafo1 {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2em; }

.container .row .parte1 .imagen {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40px;
  padding-bottom: 40px; }

.container .row .parte2 .imagen2 {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 80px;
  padding-bottom: 40px; }

.container .row .parte2 .parrafo2 {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 2em; }

footer {
  height: 70px;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #141014;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin: 0; }
  footer .piePagina {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 1rem; }
    footer .piePagina .fotoWsp {
      width: 40px; }
    footer .piePagina .fotoIg {
      width: 40px; }
    footer .piePagina .fotoFb {
      width: 40px; }
    footer .piePagina .fotoTw {
      width: 40px; }
